.container.cart(data-ng-controller="CartController as inCart")
    h2 Shopping Cart
    h3(ng-show="inCart.count() === 0") Cart is empty
    table.table(ng-hide="inCart.count() === 0")
        tr
            th
            th Model
            th Name
            th Qty
            th(class="text-right") Cost
            th(class="text-right") Sum
            th

        tr(data-ng-repeat='(id, val) in resultValue=inCart.get()')
            td.col-sm-2
                img.img-responsive(data-ng-src="{{val.image}}")
            td
                div {{ val.name }}
            td
                div {{ val.model }}
            td
                input.input-mini(type='number', data-ng-model="val.qty", value="1", min="1")
            td(class="text-right")
                div ${{ val.price | number: 2 }}
            td(class="text-right")
                div ${{ val.qty * val.price | number: 2 }}
            td
                a(href="" ng-click="inCart.removeItem($index)") Delete
        tr
            td(colspan="5")
                b Total
            td(class="text-right")
                b ${{resultValue | totalSumPriceQty:'val.qty':'val.price' | number: 2 }}
            td &nbsp;