.container.cart(data-ng-controller="CartCtrl as inCart")
    h2 Shopping Cart
    table.table
        tr
            th
            th Model
            th Name
            th Qty
            th Cost
            th Sum

        tr(data-ng-repeat='product in inCart.products')
            td.col-sm-2
                img.img-responsive(data-ng-src="{{product.images[1]}}")
            td
                div {{ product.name }}
            td
                div {{ product.model }}

            td
                input.input-mini(type='number', data-ng-model="item.qty", value='1')
            td
                div {{ product.price }}
            td
                div {{ item.qty }}