h4 Comments
    ul
        li(data-ng-repeat="review in product.reviews")
            blockquote
                strong {{ review.stars }} Stars <br>
                | {{ review.body }}
                cite.clearfix - {{ review.author }} {{ review.createdOn | date }}
        // review form
        productReview
            form(name="reviewForm" data-ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate)
                //live preview
                blockquote
                    strong {{ reviewCtrl.review.stars }} Stars <br>
                    | {{ reviewCtrl.review.body }}
                    cite.clearfix - {{ review.author }}
                // review form
                h4 Submit a Review
                fieldset.form-group
                    select.form-control(data-ng-model="reviewCtrl.review.stars" data-ng-options="stars for stars in [5,4,3,2,1]" title="Stars" required)
                        option(value="") Rate this Product
                fieldset.form-group
                    textarea.form-control(data-ng-model="reviewCtrl.review.body" placeholder="Write your comment here..." title="Review" required)
                fieldset.form-group
                    input.form-control.ng-pristine.ng-invalid(data-ng-model="reviewCtrl.review.author" type="email" placeholder="your@email.com" title="Email" required)
                fieldset.form-group
                    input.btn.btn-primary.pull-right(value="Submit Review" type="submit")
