// main catalog
.container.product(data-ng-controller="CatalogController as store")
    h1 Products
    .col-sm-4(data-ng-repeat="product in store.products | orderBy:'price'")
        div(data-ng-hide="product.soldOut")
            h3 {{ product.name }}
            h4 {{ product.model }}
                em.pull-right ${{ product.price | number:2 }}
            section(product-gallery)
            section(product-panel).productPanel