@import "includes/reset";
@import "includes/variables";
@import "includes/vendor";
@import "includes/module";


// main web project style

body {
  padding-top: 80px;
}

.ng-invalid.ng-dirty {
  border-color: #ff2e43;
}
.ng-valid.ng-dirty {
  border-color: #2a8038;
}

// responsive queries

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


